form {
  display: flex;
  flex-direction: column; //font-family: sans-serif;
}

button {
  background-color: blanchedalmond;
  padding: 4px;
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: white;
  display: flex;
}

.button-148 {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#tweet-text {
  display: flex;
  border: 0 none;
  outline: none;
  border-bottom: 5px solid black;
  background-color: #f4f1ec;
}
/* span{
  font-family:Georgia, 'Times New Roman', Times, serif;
} */